[Unit]
Description=PerangDesk
Requires=network.target
After=systemd-user-sessions.service

[Service]
Type=simple
ExecStart=/usr/bin/perangdesk --service
# kill --tray and --server both
ExecStop=pkill -f "perangdesk --"
# below two lines do not work, have to use above one line
#ExecStop=pkill -f "perangdesk --tray"
#ExecStop=pkill -f "perangdesk --server"
PIDFile=/run/perangdesk.pid
KillMode=mixed
TimeoutStopSec=30
User=root
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
