[Desktop Entry]
Name=PerangDesk
GenericName=Remote Desktop
Comment=Remote Desktop
Exec=perangdesk %u
Icon=perangdesk
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;
Actions=new-window;
StartupWMClass=perangdesk

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=perangdesk %u
