[Desktop Entry]
Name=PerangDeskURL Scheme Handler
NoDisplay=true
MimeType=x-scheme-handler/perangdesk;
TryExec=perangdesk
Exec=perangdesk %u
Icon=perangdesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=perangdesk
